
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

a:hover{
  text-decoration: none;
}

.project, .tasksToDo{
  border: 2px solid;
  padding: 5px;
  margin: 5px 0;
  h3{
    margin: 0;
  }
  p{
    margin: 0;
  }
}
.project:hover{
    transform: scale(1.1);
}

.user {
  background-color: beige;
  padding: 2px;
  border: 1px solid;
  border-radius: 10px;
  margin: 2px;
  cursor: pointer;
  &:hover{
    transform: scale(1.01);
  }
}